sim/*png
.ipynb_checkpoints/
gnuradio/*png
__pycache__/
*.o
sim_build/
results.xml
*.ghw
*.pak
msk_top
*.bkp
.DS_Store
work/
*.ghw.hier
docs/images/
.asciidoctor/
gen_files*.txt
gui/
*log
vivado*jou
vivado*log
.Xil/
Release/
msk_top.cache/
msk_top.hw/
msk_top.xpr
xgui/
pluto.*/
pluto.xpr
component.xml

firmware/build/
