[submodule "msk_demodulator"]
	path = msk_demodulator
	url = https://github.com/OpenResearchInstitute/msk_demodulator.git
[submodule "msk_modulator"]
	path = msk_modulator
	url = https://github.com/OpenResearchInstitute/msk_modulator.git
[submodule "nco"]
	path = nco
	url = https://github.com/OpenResearchInstitute/nco.git
[submodule "pi_controller"]
	path = pi_controller
	url = https://github.com/OpenResearchInstitute/pi_controller.git
[submodule "prbs"]
	path = prbs
	url = https://github.com/OpenResearchInstitute/prbs.git
[submodule "hdl"]
	path = hdl
	url = https://github.com/analogdevicesinc/hdl
[submodule "firmware/buildroot"]
	path = firmware/buildroot
	url = https://github.com/analogdevicesinc/buildroot
[submodule "firmware/linux"]
	path = firmware/linux
	url = https://github.com/analogdevicesinc/linux
[submodule "firmware/u-boot-xlnx"]
	path = firmware/u-boot-xlnx
	url = https://github.com/analogdevicesinc/u-boot-xlnx
